<!DOCTYPE html>
<html>

<head>
  <title>Add Plant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/bootstrap.js"> </script>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-theme.css">
  <link rel="stylesheet" href="css/home.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css" />
  <style>
    body {

      font-family: didot;
      background-color: beige;
      margin-left: 1.5rem;
    }

    * {
      box-sizing: border-box;
    }

    .searchBar {
      transform: scale(1) translate(50px, 10%);
    }

    form.searchBar input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 55%;
      background: #f1f1f1;
      border-radius: 10px;
    }

    form.searchBar button {
      float: left;
      width: 15%;
      padding: 10px;
      background: salmon;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
      border-radius: 10px;
      transform: scale(1) translate(-25px, -1%)
    }

    form.searchBar button:hover {
      background: pink;
    }

    form.searchBar::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>
</head>

<body>

  <h2>Add a Plant</h2>

  <p>Search and find your plant from our database to add to your personalized garden profile!</p>
  <form class="searchBar" action="/action_page.php">
    <input type="text" placeholder="Search a plant.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>

</body>

</html>
