<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Calendar</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css" />


    <link href='fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
    <link href='fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='fullcalendar-4.3.1/packages/core/main.js'></script>
    <script src='fullcalendar-4.3.1/packages/daygrid/main.js'></script>

    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }


        const openNav = () => {
            document.getElementById("mySidebar").style.width = "70%"
            $("#calendar").css({ "visibility": "hidden" });

        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        const closeNav = () => {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            $("#calendar").css({ "visibility": "visible" });
        }

        // Get the events


        $(document).ready(function () {
            // Handler for .ready() called.
            var calendarEl = document.getElementById('calendar');


            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['dayGrid'],
                events: [{
                    start: '2020-02-07',
                    end: '2020-02-07',
                    title: 'ZZ Plant',
                    backgroundColor: getRandomColor()
                }, {
                    start: '2020-02-09',
                    end: '2020-02-09',
                    title: 'Bell Pepper',
                    backgroundColor: getRandomColor()
                }],
                views: {
                    basic: {
                        columnFormat: 'ddd'
                    },
                    agenda: {
                        columnFormat: 'ddd'
                    },
                    week: {
                        columnFormat: 'ddd'
                    },
                    day: {
                        columnFormat: 'ddd'
                    }
                }
            });
            calendar.render();

            $(".dashboad-link").click(() => {
                window.location.href = "/"
            });

            $(".login-link").click(() => {
                window.location.href = "/login"
            });




        })

    </script>

    <style>
        .dashboard-header {}

        /* The sidebar menu */
        .sidebar {
            height: 100%;
            /* 100% Full-height */
            width: 0;
            /* 0 width - change this with JavaScript */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Stay on top */
            top: 0;
            left: 0;
            background-color: #111;
            /* Black*/
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 60px;
            /* Place content 60px from the top */
            transition: 0.5s;
            /* 0.5 second transition effect to slide in the sidebar */
        }

        /* The sidebar links */
        .sidebar a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #f1f1f1;
        }

        /* Position and style the close button (top right corner) */
        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        /* The button used to open the sidebar */
        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

            .sidebar a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a class="dashboad-link">My Plant Profiles</a>
        <a class="calendar-link">Calendar</a>
        <a class="login-link">Login</a>
    </div>

    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Garden App</button>
    </div>

    <!-- /#sidebar-wrapper -->
    <div id='calendar'></div>

</body>

</html>
