<html>

<head>
    <title>DB</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/bootstrap.js"> </script>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <style>
        .avatar {
            vertical-align: middle;
            width: 80px;
            height: 80px;
            border: 1px solid black;
            border-radius: 50%;
        }

        .plant-title-container {}

        .plants-wrapper {
            /*display: flex;*/
            flex-direction: column;
            flex-wrap: wrap;
            transform: scale(1) translate(0px, -10%);
            margin: center;
            width: 300px;
            height: 635px;
            overflow: auto;
            border: 5px solid #333;
            border-radius: 15px;
            /*margin-bottom: 20px;*/
        }

        .plant-wrapper {
            display: flex;
            flex-direction: row;
            width: 280;
            padding: 8px;
            padding-left: 10px;
        }

        .plant-wrapper:active {
            opacity: 0.5;
        }

        .clicked-text {}

        .container {
            display: flex;
            flex-direction: row;
        }

        .dashboard-header {
            font-weight: bold;
            font-size: medium;
            font-family: didot;
            width: 60%;
            border: 2px solid black;
            border-radius: 20px;
            /*border: rgba(1);*/
            margin: 1.75rem;
            margin-bottom: 4rem;
            margin-top: 2rem;
            padding: 6px;
            transform: scale(1) translate(33px, -30%);
            /*background-image:
                url(.../images/headimage.png);*/
            background-color: #333;
        }



        .dashboard-header img {
            transform: scale(2) translate(-90px, 9%);
            background-color: transparent;
        }

        .dashboard-header .special {
            margin-left: 17%;
            color: white;
            text-align: center;
            /*font-family: didot; */

        }

        .specialname {
            font-family: didot;
            width: 60%;
            padding: 1rem;
            transform: scale(1) translate(-3px, 25%);
        }

        /* The sidebar menu */
        .navbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 87%;
            border-radius: 35px;
            margin-bottom: 1rem;
            transform: scale(1) translate(-10px, -30%);
        }

        .navbar a {
            float: left;
            display: block;
            border-radius: 35px;
            color: #f2f2f2;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            font-size: 17px;
            font-family: didot;
            margin-top: 0px;
            margin-left: 11px;
        }

        .navbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .navbar a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 35px;
            transform: scale(1) translate(-.5px, 3%);
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        .mid-container {
            display: flex;
            flex-direction: column;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-width: 600px) {
            .navbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom:0;
            }         
            .navbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

        }

        .addPlantButton img {
            width: 60px;
            height: 60px;
            float: right;
        }

        body {

            font-family: didot;
            background-color: beige;
            margin-left: 1.5rem;
        }

    </style>

    <script>
        $(document).ready(function () {

            // Handler for .ready() called.
            $('.plant-wrapper').children('img').get().forEach((plantImg) => {
                plantImg.addEventListener('click', function () {
                    const plantId = plantImg.dataset.value;
                    const plantName = plantImg.dataset.name;

                    try {

                        $.post("/add", { plantId: plantId }, function (data) {
                            console.log("success");
                        });
                        window.alert(`Add ${plantName} to my plants`)
                    } catch (err) {
                        console.err(err)
                    }



                });
            });

            $(".calendar-link").click(() => {
                window.location.href = "/calendar"
            });


            $(".login-link").click(() => {
                window.location.href = "/login"
            });

        })
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidebar").style.width = "70%";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
    </script>
</head>

<body style="background-color:beige;">



    <div class="container">
        <!-- Sidebar -->
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/calendar">Calendar</a>
            <a href="/DB" class="active">View Plants</a>
        </div>

        <!--<div id="main">
            <button class="openbtn" onclick="openNav()">&#9776;</button>
        </div>-->



        <div class="mid-container">


            <div class="dashboard-header">
                <span class="special">Discover Plants</span>
                <!--<img src="/images/headimage.png" alt="Flowers in Chania" width="20px" height="20px">-->
            </div>

            <div class="plants-wrapper" overflow="auto">

                {{#each DB}}
                <div class="plant-wrapper">
                    <img src={{imagePath}} class="avatar" data-value={{id}} data-name={{name}} alt="">
                    <span class="specialname">{{name}}</span>
                </div>
                {{/each}}
            </div>

        </div>

    </div>

</body>

</html>
