<html>

<head>
    <title>Dashboard</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{!-- <script src="js/bootstrap.js"> </script> --}}
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" />
    <style>
        .avatar {
            vertical-align: middle;
            width: 110px;
            height: 110px;
            border: 1px solid black;
            border-radius: 50%;
        }

        .plant-title-container {}

        .plants-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .plant-wrapper {
            display: flex;
            flex-direction: column;
            width: 50%;
        }

        .container {
            display: flex;
            flex-direction: column;
        }

        .dashboard-header {}
    </style>

    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            $('.plant-wrapper').children('img').get().forEach((plantImg) => {
                plantImg.addEventListener('click', function () {
                    const plantId = plantImg.dataset.value;
                    if (plantId) {
                        window.location += `plant/${plantId}`
                    }
                });
            });

        })

    </script>
</head>

<body>
    <div class="container">
        <div class="dashboard-header">
            <span>My Plant Profiles</span>

        </div>


        <div class="plants-wrapper">

            {{#each plants}}
            <div class="plant-wrapper">
                <img class="avatar" data-value={{id}} d src={{imagePath}} alt="">
                <span>{{name}}</span>
            </div>
            {{/each}}
        </div>


    </div>


</body>

</html>
